<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="formTitle"><%= title %></h1>
    <form action="/new" method="POST" class="newMessageForm">

        <% const submitForm = (e) => {%>
            e.preventDefault();
            document.querySelector('.newMessageForm').submit();
            <% } %>

            <label for="authorName">Author's Name: </label>
            <input type="text" name="authorName" id="authorName" required>


            <label for="message">Message: </label>
            <textarea name="message" id="message" required></textarea>


 
        <button class="formBtn">Submit</button>
    </form>
</body>
</html>