body {
  background-color: #36454f;
  color: whitesmoke;
  font-family: "Roboto", serif;
}

a {
  color: blue;
}

a:visited {
  color: lightseagreen;
}

.messageBoardPage {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
}

.indexUnorderList {
  list-style-type: none;
  width: 80%;
  max-width: 600px;
}

.messageContainer {
  border-bottom: 2px solid gray;
  padding: 1rem 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.messageContainer:hover {
    border-bottom: 2px solid rgb(175, 175, 175);
}

.usernameHeader {
    font-size: 1.7rem;
    text-decoration: underline;
    font-weight: 800;
}

.messageUser {
  font-size: 1.2rem;
}

.openMessageDetails {
  font-size: 1.2rem;
}

.sendNewMessageBtn {
  font-size: 2rem;
  margin: 0 0 1.5rem;
}

.newMessageForm {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
  padding: 1rem;
}

.formTitle {
  text-align: center;
}

.formBtn {
  grid-column: 2 / 3;
  width: min-content;
  justify-self: end;
}

.newMessageForm input,
.newMessageForm textarea {
  padding: 0.5rem;
}

.newMessageForm input,
.newMessageForm label,
.newMessageForm textarea,
.formBtn,
.newMessageForm input::placeholder,
.newMessageForm textarea::placeholder {
  font-size: 1.5rem;
}

input:-webkit-autofill::first-line {
  font-size: 1.5rem;
}

.centerMessage {
  margin: 2rem auto;
}

.individualMessageHeader {
  font-size: 2rem;
  text-align: center;
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }

  button {
    cursor: pointer;
    border-radius: 15px;
    padding: .5rem;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
  }

  .reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
    text-decoration: none;
    color: inherit;
    outline: 0;
    cursor: auto;
  }

